@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navList{
        margin-top: 4%;
    }
    .navList:hover{
    color: #094d4d;
    border-bottom: 1px solid #edc793;
    /* transition: 5s ease-in-out; */
    }
}